*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: hsl(235, 21%, 11%);
  color: hsl(234, 39%, 85%);
  font-family: 'Raleway', sans-serif;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 200;
  font-size: 3rem;
  letter-spacing: 3px;
}

h2 {
  text-align: center;
  font-weight: 200;
  font-size: 1.325rem;
}

a {
  text-decoration: none;
}

main {
  width: 100vw;
  height: 100vh;
  background:linear-gradient(90deg, rgba(37,39,60,.4) 0%, rgba(0,212,255,.4) 100%), url("basketball_court.jpg");
  background-position: 30% 90%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  margin-right: 2em;
  padding: .75em;
  border-radius: 5px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, .5);
  font-size: 1.5rem;
  transition: all .3s ease;
}

input:focus {
  box-shadow: 0 0 15px 5px rgba(0, 153, 255, 0.315);
  border: 2px solid rgba(0,212,255,.4);
  transform: scale(1.05);
}

.wrapper {
  width: 100%;
  background:linear-gradient(90deg, rgba(37,39,60,.4) 0%, rgba(0,212,255,.4) 100%), url("basketball_court.jpg");
  background-size: cover;
  background-position: 20% 65%;
  background-repeat: no-repeat;
  padding: 2em;
  text-align: center;
}

.header {
  width: 80%;
  margin: 1.5em auto;
  color: white;
  display: grid;
  grid-gap: .75em;
  justify-content: center;
  text-align: center;
}

.container {
  width: 80%;
  margin: 1.5em auto;
  position: relative;
  display: grid;
  grid-gap: 1.5em;
}

.accent {
  font-family: 'Wallpoet', cursive;
  font-size: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2em;
}

.card {
  border: 1px solid black;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, .3);
  border-radius: 5px;
  padding: 1em;
  background: #25273c;
  background: linear-gradient(90deg, rgba(37,39,60,.4) 0%, rgba(0,212,255,.4) 100%);
}

/* buttons */
button,
.button {
  border: 2px solid hsl(234, 39%, 85%);
  border-radius: 50px;
  color: hsl(234, 39%, 85%);
  padding: 1em .75em;
  cursor: pointer;
  text-align: center;
  font-weight: 600;
  transition: all .5s ease;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);
}

.button:active,
.button:hover {
  background: hsl(234, 39%, 85%);
  color: #25273c;
;
}

button {
  color: #25273c;
  background: hsl(234, 39%, 85%);
  border: none;
  font-size: 1.25rem;
}

button:active,
button:hover {
  background: #25273c;
  color: hsl(234, 39%, 85%);
  transform: scale(1.2);
}

footer {
  padding: 1em;
  text-align: center;
  letter-spacing: 5px;;
}

footer a {
  color: hsl(234, 39%, 85%);
}

.terms {
  margin-top: .75em;
  font-size: .85rem;
  letter-spacing: normal;
}

.terms a {
  text-decoration: underline;
}

/* ====================
      media queries
==================== */

@media (min-width: 650px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}

@media (min-width: 950px) {
  .wrapper {
    text-align: left;
  }

  .container,
  .header {
    width: 60%;
  }

  .container {
    grid-gap: 2em;
  }

  .header {
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
  }
  .header a {
    grid-column: 1 / 2;
    width: 80%;
  }
  .header h1 {grid-column: 2 / 3;}
  #age { 
    grid-column: 1 / 2;
    justify-self: left;
  }
  #team { 
    grid-column: 3 / -1;
    justify-self: right;
  }
  .button {
    align-self: start;
  }
}